@using MVC_Mini_Project.Models
@model Category
@{
    ViewData["Title"] = "Create Category";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Yeni Kateqoriya</h4>
        <form method="post" class="forms-sample">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name">Kateqoriya Adı</label>
                <input asp-for="Name" class="form-control" style="color:white" placeholder="Ad daxil edin...">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary mr-2">Yarat</button>
            <a asp-action="Index" class="btn btn-light">Ləğv et</a>
        </form>
    </div>
</div>